@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Open Sans', sans-serif;
  }

  input {
    background: none;
    border: none;
    padding: 0;
  }

  input[type='number']::placeholder {
    color: #757575;
    font-weight: 600;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    appearance: textfield;
  }
}

.main {
  @apply min-h-screen w-full bg-primary text-white relative
}

.startBtn {
  @apply text-lg font-medium text-white cursor-pointer p-1 duration-300 hover:text-green
}

.deleteBtn {
  @apply text-lg font-medium text-white cursor-pointer p-1 duration-300 hover:text-red
}

.addBtn {
  @apply text-base font-semibold bg-js text-black py-2 px-5 rounded-xl uppercase border-none block mx-auto duration-300 ease-in-out hover:bg-jsh
}

.clock {
  @apply absolute top-12 left-0 right-0 p-3 mx-auto text-center rounded-xl shadow-shadow text-js font-semibold max-w-max duration-300 md:left-12 md:mx-0
}

.timers {
  @apply flex flex-row justify-center gap-12 max-w-5xl mx-auto flex-wrap pb-16
}

.pointsForm:not(:last-child)::after {
  content: ':';
  @apply text-5xl px-1
}

.pointsTimer:not(:last-child)::after {
  content: ':';
  @apply text-3xl px-1
}